<h2>商品を登録する</h2>

<%= form_with(model: @product, local: true) do |f| %>
  <% if @product.errors.any? %>
    <div style="color: red;">
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, '商品名' %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :price, '価格' %>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit '登録する' %>
  </div>
<% end %>